.banner-card-body {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;

}

.banner-active {
    display: block;
}
.banner-inactive{
    display: none;
}
/* responsive on mobile devices */
@media screen and (max-width: 768px) {
    .banner-card-body {
        flex-direction: column;
    }
}